/* Reset CSS */
body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

/* Main Container */
main {
  width: 100%;
  max-width: 900px;
  height: 85vh;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Chat Container */
.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Chat History */
.chat-history {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

/* Chat Input Area */
.chat-input {
  display: flex;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #e6e6e6;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Textarea */
.chat-input input[type="text"] {
  flex: 1;
  min-height: 30px;
  padding: 8px;
  border: 3px solid #ccc;
  border-radius: 20px;
  resize: none;
  font-size: 14px;
}

/* Send Button */
.chat-input button {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.chat-input button:hover {
  opacity: 0.7;
}

/* Icon Inside Button */
.chat-input button svg {
  width: 24px;
  height: 24px;
  stroke: #555;
  stroke-width: 2;
  fill: none;
  vertical-align: middle;
}

/* Chat Message Styles */
.message {
  display: inline-block;
  max-width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  word-wrap: break-word;
  align-self: flex-start;
  font-size: 14px;
}

.message.user {
  align-self: flex-end;
  background-color: #88f534;
  color: black;
  text-align: left;
}

.message.bot {
  align-self: flex-start;
  background-color: #e6e6e6;
  color: black;
  text-align: left;
}

/* Status Message */
.status {
  font-style: italic;
  color: grey;
  margin-bottom: 10px;
  align-self: center;
}

/* Navbar Styles */
.navbar {
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.logo {
  margin-right: auto;
}

/* Atom Icon Logo */
.navbar .logo a {
  display: inline-block;
  width: 40px;
  height: 40px;
  /* background-image: url('../public/atom.png');  */
  background-size: cover;
  text-indent: -9999px;
}

.nav-links ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}

.nav-links a:hover {
  background-color: #555;
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.sidebar-history {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* Sidebar Toggle Styles */
.sidebar.active {
  left: -250px; /* Adjust this value to fit the hidden sidebar width */
  transition: left 0.3s ease;
}

.main.shifted {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

.footer.shifted {
  margin-left: 0;
  transition: margin-left 0.3s ease;
}

/* Sidebar History Item */
.sidebar-history-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.sidebar-history-item span {
  flex: 1; /* Allow the text to take up the remaining space */
  white-space: normal; /* Allow the text to wrap */
  margin-right: 30px; /* Provide space for the delete button */
}

.sidebar-history-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Delete Button */
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.delete-button svg {
  width: 20px;
  height: 20px;
  color: red;
  transition: color 0.3s ease;
}

.delete-button:hover svg {
  color: darkred;
}


/* Adjust main content */
main {
  margin-left: 270px;
  transition: margin-left 0.3s ease;
}

/* Footer Styles */
footer {
  margin-left: 270px;
  transition: margin-left 0.3s;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
  background-color: transparent;
  color: #555;
  position: absolute;
  bottom: 0;
  width: 100%;
}
